@use 'src/app/colors';

.button {
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1.25px;
  line-height: normal;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.4s;

  &:hover, &:focus {
    cursor: pointer;
  }

  &.primary {
    background: colors.$indigo-500;
    color: colors.$gray-100;

    &:hover, &:focus {
      background: colors.$indigo-300;
    }

    &:active {
      background: colors.$indigo-500;
    }
  }

  &.icon {
    padding: 0.25rem;
  }

  &.secondary, &.icon {
    background: colors.$gray-100;
    color: colors.$gray-900;

    &:hover, &:focus {
      background: colors.$gray-800;
      color: colors.$gray-100;
    }

    &:active {
      background: colors.$gray-100;
    }
  }

@media screen and (prefers-reduced-motion: reduce) {
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 0.875rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1.25px;
    line-height: normal;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;

    &:hover, &:focus {
      cursor: pointer;
    }

    &.primary {
      background: colors.$indigo-500;
      color: colors.$gray-100;

      &:hover, &:focus {
        background: colors.$indigo-300;
      }

      &:active {
        background: colors.$indigo-500;
      }
    }

    &.icon {
      padding: 0.25rem;
    }

    &.secondary, &.icon {
      background: colors.$gray-100;
      color: colors.$gray-900;

      &:hover, &:focus {
        background: colors.$gray-800;
        color: colors.$gray-100;
      }

      &:active {
        background: colors.$gray-100;
      }
    }
}
}
