@use "sass:color";
@use "src/app/colors";

.text-input {
  align-items: center;
  background: colors.$gray-850;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  gap: 8px;
  padding: 8px;

  &.error {
    background-color: color.change(colors.$red-900, $alpha: 0.2);
    border-color: color.change(colors.$red-900, $alpha: 0.8);
  }

  .icon {
    color: colors.$gray-900;
    height: 16px;
    width: 16px;
  }

  .input {
    background-color: transparent;
    border: none;
    color: colors.$gray-100;
    flex: 1;
    font-family: Inter, sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: normal;
    outline: none;

    &::placeholder {
      color: colors.$gray-600;
    }
  }

  &:focus-within {
    border-color: colors.$indigo-200;
    transition: all 0.4s;

    .icon {
      color: colors.$gray-100;
      transition: all 0.4s;

      @media screen and (prefers-reduced-motion: reduce) {
        color: colors.$gray-100;
        transition: none
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      border-color: colors.$indigo-200;
      transition: none;

      .icon {
        color: colors.$gray-100;
        transition: all 0.4s;

        @media screen and (prefers-reduced-motion: reduce) {
          color: colors.$gray-100;
          transition: none
        }
      }
    }
  }
}
