// Gray
$gray-900: #161618;
$gray-850: #262628;
$gray-800: #363638;
$gray-600: #676769;
$gray-100: #F0F0F2;

// Indigo
$indigo-500: #304FFE;
$indigo-300: #7A89FF;
$indigo-200: #A4ABFF;

// Red
$red-900: #C70018;
$red-400: #FE304F;

// Extra
$extra-1: #fca;
$extra-2: #acf;
