@use 'src/app/colors';

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 100vh;

  form, .head {
    display: flex;
    flex-direction: column;
    width: 24rem;
  }

  .head {
    gap: 0.25rem;
    margin-top: 2rem;
    text-align: center;

    h2 {
      color: colors.$gray-600;
    }
  }

  form {
    gap: 1rem;
    justify-content: stretch;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }
}
